body{
    text-align: center;
}
input, button {
    margin-bottom: 5px;
}
div {
    background-color: gray;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}